body, html
{
    height:100%;
}

.white_text
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

.centered_text
{
    text-align: center;
}

.background
{
    background-color:salmon;
    background-size: cover;
    height: 100px;
    margin: 0px;
    padding: 20px;
}

.divider_box
{
    background-color:paleturquoise;
    height:auto;
    margin: 12px;
    padding: 20px;

}
.navigation_bar_color
{
    background-color:crimson;
    width: 80px;
    padding: 10px;
}

.pale_box
{
    background-color:lightgreen;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid cornflowerblue;
    padding: 10px;
    margin: 22px;
}

.center_image
{
    background-image: url(volcano.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navigation_size
{
    font-size: 18px;
}

#navigation_bar
{

    margin: -10px;
}